$ui-width = 900px
$ui-spacing = 1em

$red = red
$text-color = #777
$link-color = #e5235
$link-color-hovered = $red
$post-title-color = black
$post-category-bg = $red
$post-category-color = white
$post-color-hovered = #F0F0F0
$footer-bg = #101010