@import "~/styles/vars"

.blog-header
  padding: 4em 2em 2em

  &-category
    display: inline-block
    margin: 0 1em
    text-decoration: underline
    cursor: pointer

    &:hover
      color: $link-color-hovered